<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <context-param>
        <description>URL del database</description>
        <param-name>db-url</param-name>
        <param-value>jdbc:postgresql://localhost:8432/dbnomecognome</param-value>
    </context-param>
    <context-param>
        <description>Username del database</description>
        <param-name>user</param-name>
        <param-value>dbnomecognome</param-value>
    </context-param>
    <context-param>
        <description>Username del database</description>
        <param-name>pwd</param-name>
        <param-value>dbnomecognome</param-value>
    </context-param>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>controller.Controller</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Controller</welcome-file>
    </welcome-file-list>
</web-app>